<!DOCTYPE html>
<html>
<head>
	<title>Reddit Reader</title>
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/welcome.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="static/js/welcome.js"></script>
</head>
<body>
	<div class="container">
  <h2 class="text-primary text-center" id="train">Reddit Reader</h2>
  </div>
  <div id="reddit" class="text-center">
    <i class="fa fa-reddit-alien"></i>
  </div>
  <div class="options text-center">
    <button class="btn btn-lg btn-primary" id="login"><span>Login </span></button>
    <button class="btn btn-lg btn-primary" id="signup"><span>Signup </span></button>
  </div>
  <footer>
    <a href="https://github.com/Satyabrat35/Reddit-Reader" target="_blank" style="text-decoration: none;">
      <i class="fa fa-github-alt"></i> Made with Flask and Mongodb
    </a>
  </footer>
</div>
</body>
</html>